* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.imageLogo {
  max-width: 150px;
  max-height: 150px;
  display:block;
  /* margin-bottom: 0px; */
}
body {
  background-image: url(Imagenes/trasnp.jpg);
  background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* height: 100vh; */
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
  background-color: rgba(190, 211, 154, 0.5);
  background-size: 80% 60%;
  height: 400px;
  margin: 120px;
  border-radius: 10px;
  padding: 15px;
  box-shadow: 0 2px 4px rgba(24, 24, 24, 0.4);
}
.button-container {
  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    
  }
  .bw {
    background-color: #ffffff;
    color: #A39F9F;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    margin: 0px;
    width:  303px;
    height: 40px;
  }
  .bw:hover {
    background-color: #8EC63F;
    color: #ffffff;
  }
  .logoText {
    display: block;
    text-align: center;
    font-size: 30px;
    color: #046425;
    font-family:sans-serif;
    font-weight: bolder;
    text-shadow: 1px 1px 2px #141414;
    /* margin-bottom: 0px; */
  }
  .logo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* height: 100vh; */
    /* margin: 30px 0; */
  }
 .googleButton {
  background-color: #ffffff;
  color: #A39F9F;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  margin: 0px;
  width: 303px;
  height: 40px;
  display: flex;
  justify-content: space-between; 
  align-items: center;
 }
 /* con esto separo el boton con la imagen del icono de google para que este a la derecha */
 .googleButton::before {
  content: ""; 
  background-image: url(Imagenes/icon-google.png);
  background-repeat: no-repeat;
  background-position: right center; 
  background-size: 30px;
  width: 35px;
  height: 35px;
  margin-right: 10px;  
  }

  /* ...... */
  #sectionOfContentRegister{
    /* background-image: url(Imagenes/retro.jpg) ; */
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 500px; */
  background-color: rgba(190, 211, 154, 0.5);
  background-size: 80% 60%;
  height: 640px;
  margin: 30px;
  border-radius: 10px;
  padding: 15px;
  box-shadow: 0 2px 4px rgba(24, 24, 24, 0.4);
  }

  .greenText {
    color: #046425;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 14px;
    }
    
 
  .buttonsTogether{
    width:  300px;
    height: 40px;
  }
  .highlightedText{
    color: #63ab1c;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 14px;
  }
  .inputNames{
    color: #A39F9F;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    border: 1px solid #8A8989;
    width: 150px;
  }
  #emailInput{
    width: 303px;
  }
  #passwordInput{
    width: 303px;
  }
  #sectionOfLogin {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    max-width: 300px;
    margin: 10px;
    padding: 20px;
    flex-direction: column;
  }

  .containerlogin{
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 500px; */
    background-color: rgba(202, 222, 167, 0.5);
    background-size: 80% 60%;
    height: 495px;
    margin: 110px;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 2px 4px rgba(40, 40, 40, 0.4);
  }
 
  #userDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }
  #inputUser,
  #inputPassword {
  width: 100%;/* Nueva anchura de cuadro input*/
  max-width: 300px;
  margin-bottom: 0px;
  height: 35px; /* Nueva altura */
}
#buttons {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    
  }
  #loginDiv h2 {
    color: #008037;
    text-align: left;
    margin-left: 10px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 18px;
    margin: 2px;
    align-self: flex-start;
    margin-bottom: 15px;
  }
  input {
    box-sizing: border-box; /* El ancho incluye el borde y el relleno */
    border: 1px solid #8A8989; /* Borde de 1px con color gris */
    border-radius: 5px; /* Bordes redondeados de 5px */
    padding: 10px; /* Espacio de relleno de 10px */
    font-size: 15px; /* Tamaño de fuente de 16px */
    background-color: #f2f2f2; /* Color de fondo gris claro */
    color: #333; /* Color del texto negro */
  }
  input:hover {
    background-color: #ddd; /* Color de fondo gris más oscuro */
    border: 1px solid #aaa; /* Borde de 1px con color gris más oscuro */
  }
  input:focus {
    outline: none; /* Quita el borde predeterminado del input */
    border: 1px solid #007bff; /* Borde de 1px con color azul para diferenciar */
  }

  .statusTextR {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    padding: 10px;
    background-color: rgba(51, 170, 51, .2);
    border-color: #e86666;
    border-radius: 10px;
    text-align: center;
    
  }

  .statusTextW {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    padding: 10px;
    background-color: rgba(241, 130, 141, .2);
    border-color: #e86666;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 20px;
    
  }

  /* Contenedor principal */
#containerMain {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

/* Imagen de bienvenida */
#partOfwelcome img {
  display: block;
  max-width: 35%;
  height: auto;
  margin: 0 auto;
}
#newPost {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}
/* .postContainer {
  flex-grow: 1;
  width: 100%;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
} */

/* Encabezado de bienvenida Bienvenido a Cáo*/

#partOfwelcome {
  display: flex;
}
.logOutButton { 
  background-color: transparent;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin: 0px;
  width:fit-content;
  height: 15  px;
  display: flex;
  justify-content: space-between; 
  align-items: center;
}
.logOutButton::before {
  content: ""; 
  background-image: url(Imagenes/salida.png);
  background-repeat: no-repeat;
  background-position: center; 
  background-size: 30px;
  width: 35px;
  height: 35px;
  margin-right: 10px;  
  }
/* Área de descripción */
#description {
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 600px;
  font-size: 16px;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 15px;
  resize: none;
  position: relative; /* agregar posición relativa al contenedor */
}

/* Línea separadora */
line {
  display: block;
  border: none;
  border-top: 1px solid #ccc;
  margin: 20px 0;
}

/* Información de usuario */
#informationOfUser {
  align-items: center;
  margin-bottom: 10px;
}

/*Contenedor de publicaciones*/

.historyOfPosts{
  margin-bottom: 30px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  overflow: hidden;
  background: rgb(254 255 254 / 56%);
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
  cursor: default;
  transition: all 400ms ease;
  padding: 20px;
  width: 75%;
  margin: auto;
  margin-top: 25px;
}
/* desde aqui empiezo zhai */
.user-post{
  display: flex;
  align-items: center;
}
/* Imagen de usuario falta aun editar jeje*/
#informationOfUser img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  border-radius: 50%;
}

/* autor y creacion separados y en linea */
.post-informacion{
  display: flex;
  flex-direction:row;
  justify-content: space-between;
  width: 90%;
}

/* Nombre de usuario */
#informationOfUser h3 {
  margin: 0;
  font-size: 16px;
  font-family: cursive;
}
/* fecha y hora */
#informationOfUser h5 {
  margin: 0;
  font-size: 12px;
  color: #999;
}
/* edit - delete - like */
#buttonsOfConfiguration{
  display: flex;
  justify-content: space-between;
}

.edit-button { 
  background-color: transparent;
  padding: 10px 10px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin: 0px;
  width:fit-content;
  height: 10px;
  display: flex;
  /* justify-content: space-between;  */
  align-items:first baseline;
}
.edit-button::before {
  content: ""; 
  background-image: url(Imagenes/editar-button.png);
  background-repeat: no-repeat;
  background-position: center; 
  background-size: 20px;
  width: 35px;
  height: 35px;
  margin-right: 10px;  
  }

  .delete-button{ 
    background-color: transparent;
    padding: 7px 40px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin: 0px;
    width:fit-content;
    height: 10px;
    display: flex;
    /* justify-content: space-between;  */
    align-items: center;
  }
  .delete-button::before {
    content: ""; 
    background-image: url(Imagenes/eliminar-button.png);
    background-repeat: no-repeat;
    background-position: center; 
    background-size: 20px;
    width: 35px;
    height: 35px;
    margin-right: 10px;  
    }

    
  .like-button{ 
    background-color: transparent;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin: 0px;
    width:fit-content;
    height: 15  px;
    display: flex;
    justify-content: space-between; 
    align-items: center;
  }
  .like-button::before {
    content: ""; 
    background-image: url(Imagenes/planta-button.png);
    background-repeat: no-repeat;
    background-position: center; 
    background-size: 25px;
    width: 35px;
    height: 35px;
    margin-right: 10px;  
    }
/*   
@media only screen and (max-width: 768px) {
  .post-informacion{
    display: flex;
    flex-direction:column;
    } */

.historyOfPosts p {
  color: black;
  margin: 20px;
  font-family: 'Istok Web', sans-serif;
}
.historyOfPosts h3 {
  font-family: 'Readex Pro', sans-serif;
  font-size: 15px;
}
.historyOfPosts h5 {
  color: rgb(241 130 141 / 76%);
  font-family: 'Readex Pro', sans-serif;
  font-size: 15px;
}




