* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.imageLogo {
  max-width: 150px;
  max-height: 150px;
  display:block;
  /* margin-bottom: 0px; */
}
body {
  background-image: url("https://i.pinimg.com/564x/11/15/6d/11156d10e37e66bc56f6011fc8089743.jpg");
  background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
  }
  button {
    background-color: #ffffff;
    color: #A39F9F;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    margin: 0px;
    width:  303px;
    height: 40px;
  }
  button:hover {
    background-color: #8EC63F;
    color: #ffffff;
  }
  .logoText {
    display: block;
    text-align: center;
    font-size: 30px;
    color: #046425;
    font-family:sans-serif;
    font-weight: bolder;
    text-shadow: 1px 1px 2px #141414;
    /* margin-bottom: 0px; */
  }
  .logo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* height: 100vh; */
    /* margin: 30px 0; */
  }

  /* ...... */
  #sectionOfContentRegister{
    background-image: url("https://i.pinimg.com/564x/11/15/6d/11156d10e37e66bc56f6011fc8089743.jpg") ;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }

  .greenText {
    color: #046425;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 13px;
    }
    
 
  .buttonsTogether{
    width:  150px;
    height: 40px;
  }
  .highlightedText{
    color: #8EC63F;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 13px;
  }
  .inputNames{
    color: #A39F9F;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    width: 150px;
  }
  #emailInput{
    width: 303px;
  }
  #passwordInput{
    width: 303px;
  }
  #sectionOfLogin {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    flex-direction: column;
  }
  /* #loginDiv {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  } */
  #userDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }
  #inputUser,
  #inputPassword {
  width: 100%;/* Nueva anchura de cuadro input*/
  max-width: 300px;
  margin-bottom: 10px;
  height: 40px; /* Nueva altura */
}
#buttons {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
  }
  #loginDiv h2 {
    color: #046425;
    text-align: left;
    margin-left: 10px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 16px;
    margin: 2px;
    align-self: flex-start;
  }
  input {
    box-sizing: border-box; /* El ancho incluye el borde y el relleno */
    border: 1px solid #8A8989; /* Borde de 1px con color gris */
    border-radius: 5px; /* Bordes redondeados de 5px */
    padding: 10px; /* Espacio de relleno de 10px */
    font-size: 16px; /* Tamaño de fuente de 16px */
    background-color: #f2f2f2; /* Color de fondo gris claro */
    color: #333; /* Color del texto negro */
  }
  input:hover {
    background-color: #ddd; /* Color de fondo gris más oscuro */
    border: 1px solid #aaa; /* Borde de 1px con color gris más oscuro */
  }
  input:focus {
    outline: none; /* Quita el borde predeterminado del input */
    border: 1px solid #007bff; /* Borde de 1px con color azul para diferenciar */
  }

  .statusTextR {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    padding: 10px;
    background-color: rgba(51, 170, 51, .2);
    border-color: #e86666;
    border-radius: 10px;
    text-align: center;
  }

  .statusTextW {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    padding: 10px;
    background-color: rgba(241, 130, 141, .2);
    border-color: #e86666;
    border-radius: 10px;
    text-align: center;
  }

  /* Contenedor principal */
#containerMain {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

/* Imagen de bienvenida */
#partOfwelcome img {
  display: block;
  max-width: 60%;
  height: auto;
  margin: 0 auto;
}
#newPost {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}
/* .postContainer {
  flex-grow: 1;
  width: 100%;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
} */

/* Encabezado de bienvenida Bienvenido a Cáo*/
#partOfwelcome h2 {
  font-size: 25px;
  text-align: center;
  margin-top: -20px;
  margin-bottom: 20px;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  color: #046425;
  display: flex;
  align-items: center;
  justify-content: center;
}

#partOfwelcome p {
  font-size: 15px;
  text-align: center;
  position: relative; 
  top: 0px;
  right: 20%;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
 }
 

/* Área de descripción */
#description {
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 600px;
  font-size: 16px;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 15px;
  resize: none;
  position: relative; /* agregar posición relativa al contenedor */
}


/* Botón de publicar falta aun editar jeje*/
#newPost button {
  display: block;
  margin: 20px auto 0;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  background-color: #4CAF50;
  color: #fff;
  cursor: pointer;
}

/* Línea separadora */
line {
  display: block;
  border: none;
  border-top: 1px solid #ccc;
  margin: 20px 0;
}

/* Información de usuario */
#informationOfUser {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

/* Imagen de usuario falta aun editar jeje*/
#informationOfUser img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  border-radius: 50%;
}

/* Nombre de usuario */
#informationOfUser h3 {
  font-size: 20px;
  margin: 0;
}

/* Botones de configuración falta aun editar jeje*/
.buttonsOfConfiguration {
  display: block;
  margin: 0 auto;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  background-color: #ccc;
  color: #333;
  cursor: pointer;
}

/* Botón de me gusta falta aun editar jeje */
#historyOfPosts button {
  display: block;
  margin: 20px auto 0;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  background-color: #4CAF50;
  color: #fff;
  cursor: pointer;
}



