* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.imageLogo {
  max-width: 150px;
  max-height: 150px;
  display:block;
  /* margin-bottom: 0px; */
}
body {
  background-color: #e9ece3;
}
.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
  }
  button {
    background-color: #ffffff;
    color: #A39F9F;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    margin: 0px;
    width:  303px;
    height: 40px;
  }
  button:hover {
    background-color: #8EC63F;
    color: #ffffff;
  }
  .logoText {
    display: block;
    text-align: center;
    font-size: 30px;
    color: #046425;
    font-family:sans-serif;
    font-weight: bolder;
    text-shadow: 1px 1px 2px #141414;
    /* margin-bottom: 0px; */
  }
  .logo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* height: 100vh; */
    /* margin: 30px 0; */
  }

  /* ...... */
  #sectionOfContentRegister{
    background-image: url("https://i.pinimg.com/564x/11/15/6d/11156d10e37e66bc56f6011fc8089743.jpg") ;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }

  .greenText {
    color: #046425;
  }
  .buttonsTogether{
    width:  150px;
    height: 40px;
  }
  .highlightedText{
    color: #8EC63F;
  }
  .inputNames{
    color: #A39F9F;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    width: 150px;
  }
  #emailInput{
    width: 303px;
  }
  #passwordInput{
    width: 303px;
  }
